body.light-mode {
  background-color: #fff;
  color: #111;
}

body.dark-mode {
  background-color: #000;
  color: #f1f1f1;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.block {
    width: 700px;
    margin: auto;
    padding-top: 250px;
}
.btn-color_body {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.btn-light {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff200;
}
.btn-dark {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.light-color {
    background-color: #fff;
}
.dark-color {
    background-color: #000;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
}
.content_text {
    display: block;
    text-align: center;
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: rgb(104, 105, 106);
}
.btn_show {
    padding: 15px 40px;
    border-radius: 10px;
    background-color: blue;
    transition: all 0.3s ease;
    font-family: "Goldman", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
.btn_show:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(30, 0, 255);
}
.text-colored {
    color: rgb(0, 255, 0); /* зелёный */
}
.btn_update {
    padding: 15px 40px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    transition: all 0.3s ease;
    font-family: "Goldman", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
.btn_update:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}